.idea/flexible-rolling-window.iml
.idea/inspectionProfiles/profiles_settings.xml
.DS_Store
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
frw/.DS_Store
frw/__pycache__/__init__.cpython-312.pyc
frw/Empirics/.DS_Store
frw/Empirics/__pycache__/__init__.cpython-312.pyc
frw/Empirics/__pycache__/main.cpython-312.pyc
frw/Empirics/__pycache__/main_v2.cpython-312.pyc
frw/Empirics/fun/__pycache__/__init__.cpython-312.pyc
frw/Empirics/fun/__pycache__/build_table.cpython-312.pyc
frw/Empirics/fun/__pycache__/create_figure.cpython-312.pyc
frw/Empirics/fun/__pycache__/evaluate_forecast.cpython-312.pyc
frw/Empirics/models/__pycache__/__init__.cpython-312.pyc
frw/Empirics/models/__pycache__/MarkovSwitching.cpython-312.pyc
frw/Empirics/models/__pycache__/WML.cpython-312.pyc
frw/MonteCarlo/.DS_Store
frw/MonteCarlo/__pycache__/__init__.cpython-312.pyc
frw/MonteCarlo/__pycache__/run_MC.cpython-312.pyc
frw/MonteCarlo/fun/__pycache__/__init__.cpython-312.pyc
frw/MonteCarlo/fun/__pycache__/create_table.cpython-312.pyc
frw/MonteCarlo/fun/__pycache__/dgps.cpython-312.pyc
frw/MonteCarlo/fun/__pycache__/fun.cpython-312.pyc
frw/MonteCarlo/fun/__pycache__/plots.cpython-312.pyc
results/.DS_Store
